<div class="side-nav-content" *ngIf="!menuVisible">
  <ul class="nav-list">
    <ng-container *ngFor="let item of menuItemsUpper; let i = index">
    <li class="nav-list-item"
    (mouseenter)="setActiveItem(item)" 
    (mouseleave)="clearActiveItem()">
      <img src="{{item.icon}}">
      <span (click)="callFunction(item)"><a>{{ item.name }}</a></span>
      <span *ngIf="activeItem == item" class="ellipsis-icon"><i class="fas fa-ellipsis"></i></span>
    </li>
  </ng-container>
  </ul>
  <hr>
  <ul class="nav-list">
    <ng-container *ngFor="let item of menuItemsMid; let j = index">
      <li class="nav-list-item"
          (mouseenter)="setActiveItem(item)" 
          (mouseleave)="clearActiveItem()">
        <img [src]="(showDropdown && item.name === activeMenuItem) ? 'assets/icons/down_arrow.svg' : 'assets/icons/right_arrow.svg'" (click)="toggleDropdown(item.name)">
        <img src="{{item.icon}}">
        <span (click)="callFunction(item)"><a>{{ item.name }}</a></span>
        <span *ngIf="activeItem == item" class="ellipsis-icon"><i class="fas fa-ellipsis"></i></span>
      </li>
      <li>
        <ul *ngIf="showDropdown && item.name === activeMenuItem" class="submenu">
          <li *ngFor="let subItem of item.submenu" class="nav-list-item">
            <span>{{ subItem }}</span>
          </li>
        </ul>
      </li>
    </ng-container>
  </ul>
  <hr>
</div>

