<div class="main">
    <div class="container">
        <input class="table-input header-input" placeholder="Table" type="text" [(ngModel)]="headerInput">
        <hr>
        <div class="table-container">
            <table>
                <tr *ngFor="let row of tableData; let i = index" (blur)="collectTableData()">
                  <td *ngFor="let cell of row; let j = index" class="table-cell">
                    <div #contentEditable contenteditable class="table-content table-input" (blur)='collectTableData()'>{{tableData[i][j]}}</div>
                  </td>
                </tr>
            </table>
            <button (click)="addColumn()" class="add-button"><img src="assets\icons\table\add.svg"><span>Add Column</span></button>
        </div>
        <button (click)="addRow()" class="add-button"><img src="assets\icons\table\add.svg"><span>Add Row</span></button>
    </div>
</div>
