<app-bigmodalwindow *ngIf="isSearchPageVisible()">
  <div class="search-container" *ngIf="isSearchPageVisible()">
    <img src="assets/icons/search_page/search.svg">
    <input placeholder="Search..." (input)="onSearchInput($event)">
    <img src="assets/icons/search_page/filter_list.svg" (click)="toggleSortButtonsVisible()">
  </div>
  <hr>
  <div *ngIf="isSortButtonsVisible" class="sort-list-container">
    <div *ngFor="let button of ListItems" class="dropdown dropdown-div">
      <button class="search-clickable search-list-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{button.icon}}">
        <span>{{ button.name }}</span>
      </button>
      <ul *ngIf="button.sortButtons" class="dropdown-menu dropdown-menu-ul" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let sortButton of button.sortButtons" class="dropdown-item" (click)="sortItems(sortButton)"><span>{{sortButton}}</span></li>
      </ul>
    </div>
  </div>
  <div *ngIf="searchText">
    <div class="nav-list-item" *ngFor="let item of filteredItems" (click)="newRoute(item.currentLink)">
      <img [src]="item.icon">
      <span>{{ item.name }}</span>
    </div>
  </div>
</app-bigmodalwindow>