<div class="main">
    <div class="container">
        <input class="list-input header-input" placeholder="List" type="text" [(ngModel)]="headerInput" (blur)="onHeaderBlur()">
        <hr>
        <div class="list-container" cdkDropList (cdkDropListDropped)="onDrop($event)">
            <div *ngFor="let list of lists" class="list" cdkDrag>
                <img src="assets/icons/list/description.svg">
                <input type="text" [(ngModel)]="list.name" class="list-input content-list-input" (blur)="onListNameBlur($event, list)">
                <img src="assets/icons/list/edit.svg" class="pencil" (click)="toggleCard(list)">
            </div>
            <button class="new-list-button" (click)="createList()"><img src="assets/icons/list/add.svg">New</button>
        </div>
    </div>
</div>


<app-bigmodalwindow *ngIf="isCardListVisible() && currentList && currentList.length > 0">
    <input class="edit-input" placeholder="Untitled" type="text" [(ngModel)]="currentList[0].name">
  <div class="split">
    <div class="left">
        <div class="split">
            <div class="left">
                <div *ngFor="let item of currentList[0].properties">
                    <button class="list-edit-clickable"><img src={{item.icon}}><span>{{item.name}}</span></button>
                </div>
                <div class="dropdown">
                    <button class="top-right-button new-list-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="assets/icons/edit_card_list/add.svg"><span>Add a property</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-ul" aria-labelledby="dropdownMenuButton1">
                      <li class="dropdown-item" *ngFor="let option of propertyOptions" (click)="selectProperty(option)">
                        <img src={{option.icon}}>
                        <span>{{option.name}}</span></li>
                    </ul>
                </div>
            </div>
            <div class="left">
                <div *ngFor="let item of currentList[0].properties">
                    <input class="list-edit-clickable" style="padding-left: 10px;" placeholder="{{item.placeholder}}" [(ngModel)]="item.description">
                </div>
            </div>
        </div>
    </div>
    <hr width=".1vw" height="80vw">
    <div class="right">
      <textarea placeholder="Description" [(ngModel)]="currentList[0].description" class="list-edit-textarea"></textarea> <!-- Изменено на currentList[0] -->
    </div>
  </div> 
</app-bigmodalwindow>
