.main {
    z-index: 1;
    top: 0;

}

.content {
    width: 100%;
    left: 0;
    background-color: #181818;
}

.landing-button {
    background-color: transparent;
    border: 1px white solid;
    border-radius: 6px;
    color: white;
}

/* //////////////////// */



.header .landing-button {
    font-size: 16px;
    color: #D9D9D9;
}

.header-buttons-container {
    margin-left: auto;
    margin-right: 25px;
    margin-top: -14px;
}

/* ////////////////////////// */

.potential {
    margin-top: 255px;
    position: relative;
}

.potential span {
    color: #E8E8E8;
    font-family: Jost;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.potential .landing-button {
    font-size: 18px;
    font-weight: 400;
    color: #DCDCDC;
    padding: 7px 25px;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.potential .landing-button:hover {
    background-color: #D9D9D9;
    color: #181818;
}

.inline-image {
    vertical-align: middle;
    /* Чтобы выровнять картинку по вертикали с текстом */
    height: 70px;
    /* Высота картинки равна высоте текста */
    margin-top: -7px;
}

.hand-image-container {
    height: 50%;
    margin-top: -550px;
    margin-left: 720px;
    position: absolute;
}

.hand-image {
    height: auto;
}

.text-and-button {
    width: 260px;
    margin-top: 43px;
    margin-bottom: 61px;
}

.text-and-button span {
    font-size: 16px;
    font-weight: 400;
    color: #C8C8C8;
}

/* ///////////////////////// */

.ideas {
    margin-top: 420px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-bottom: 100px;
}

.ideas-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    color: #D9D9D9;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ideas-button-container .landing-button {
    margin-left: 27.5px;
    margin-right: 27.5px;
    padding: 5px;
    font-size: 18px;
}

.ideas-button-container .landing-button:hover,
.ideas-button-container .landing-button.active {
    background-color: white;
    color: #181818;
}

.ideas span {
    font-size: 48px;
    color: #D9D9D9;
    display: block;
    margin-bottom: 50px;
}

.ideas u {
    text-decoration-color: #434BF3;
    text-underline-offset: 15px;
}

.display-container {
    width: 1036px;
    height: 633px;
}

.description-container {
    margin-right: 50px;
    text-align: left;
}

.description-container h3 {
    color: #C8C8C8;
    font-size: 36px;
}

.description-container span {
    font-size: 26px;
}

.ideas-image-container {
    text-align: right;
}

/* ///////////////////////////// */

.triple-section {
    margin-left: 162px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.triple-section-container {
    text-align: left;
    width: 380px;
}

.triple-section-container img {
    margin-bottom: 20px;
    width: 200px;
}

.triple-section h3 {
    color: #C8C8C8;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 10px;
}

.triple-section span {
    width: 223px;
    color: #C8C8C8;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
}


/* //////////////////////// */

.about-us {
    text-align: center;
    margin-top: 120px;
    color: #D9D9D9;
    font-family: Jost;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.characteristics {
    color: #DCDCDC;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.templ-text {
    color: #DCDCDC;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.about-us u {
    text-decoration-color: #434BF3;
    text-underline-offset: 15px;
}

.carousel {
    display: block;
    width: 1041px;
    height: 638px;
    border-radius: 20px;
    border: 2px solid #D9D9D9;
    margin-top: 52px;
}

.carousel-image {
    width: 331px;
    height: 350px;
    margin-left: 62px;
    margin-top: 55px;
}

.carousel-text {
    width: 400px;
    height: 283px;
    color: #C8C8C8;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 127px;
    margin-top: 110px;
    text-align: start;
}


.carousel-upper {
    stroke-width: 2px;
    stroke: #D9D9D9;
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.carousel-main {
    width: 100%;
    height: auto;
    display: flex;
}


/* //////////////////////// */


.faq {
    width: 1041px;
    height: 638px;
    margin-top: 250px;
}

.faq-title {
    font-size: 48px;
    color: #D9D9D9;
    margin-bottom: 25px;
}

.faq-split {
    display: flex;
    flex-direction: column;
}

.faq-split-container {
    display: flex;
}


.faq-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-top: 1px solid #ccc;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 560px;
}

.faq-item .icon {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.faq-item .question {
    flex-grow: 1;
}


.faq-item span {
    color: #C8C8C8;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.faq-answer p {
    color: #C8C8C8;
}

.faq-answer {
    padding: 10px;
    background-color: transparent;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 560px;
}

.faq-img-container {
    margin-left: 280px;
    width: 210px;
    height: 370px;
    text-align: center;
}

/* ////////////////////////////// */

.footer {
    padding-top: 200px;
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    justify-content: space-between;
}

.footer-container {
    height: 540px;
    background-color: #181818;

}

.contacts {
    display: block;
}

.icon-container {
    margin-top: 32px;
}

.icon-footer {
    width: 24px;
    height: 24px;
    margin-right: 38px;
}

.contacts span {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #C8C8C8;
    margin-bottom: 25px;
}

.contacts p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
    color: #C8C8C8;
}

body.main.content {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #181818;
    /* Пример фона */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.first-body {
    background-color: #181818;
    margin-top: 46px;
    margin-left: 142px;
    margin-right: 142px;
    width: 100%;
    /* Исправление синтаксиса */
    max-width: 1736px;
    /* Пример ограничения максимальной ширины */
    box-sizing: border-box;
    /* Чтобы padding не увеличивал ширину блока */
}

.icon-menu {
    margin-bottom: 6px;
    width: 29px;
    height: 16px;
}

.line {
    margin-top: 10px;
}

.menu {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.menu-item {
    margin-left: 43px;
    color: #D9D9D9;
    background-color: #181818;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button-start {
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    padding: 0px 13px;
    gap: 11px;
    background: none;
    color: #D9D9D9;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button-start:hover {
    background-color: #D9D9D9;
    color: #181818;
}

.line {
    margin-top: 10px;
}

.line svg {
    display: block;
    width: 100%;
}

.copyright {
    margin-top: 20px;
    color: #b7b7b7;
    font-family: Jost;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 50px;
    margin-top: 130px;
}