.main {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}
  
.content {
    width: 100%;
    left: 0;
    background-color:  #181818;
}

.landing-button {
    background-color: transparent;
    border: 1px white solid;
    border-radius: 6px;
    color: white;
}

/* //////////////////// */

.header {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    
}

.header .landing-button {
    font-size: 16px;
    color: #D9D9D9;
}

.header-buttons-container {
    margin-left: auto;
}
/* ////////////////////////// */

.potential {
    padding-left: 100px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
}

.potential span {
    font-size: 96px;
    color: #E8E8E8;
}

.potential .landing-button {
    font-size: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px ;
    padding-bottom: 5px;
    font-size: 24px;
}

.inline-image {
    vertical-align: middle; /* Чтобы выровнять картинку по вертикали с текстом */
    height: 1em; /* Высота картинки равна высоте текста */
}

.hand-image-container {
    height: 50%;
    position: absolute; 
    right: 0; 
    top: 0; 
    display: flex;
    align-items: flex-start; /* Align the hand-image to the top of the container */
}

.hand-image {
    height: auto;
}

.text-and-button {
    width: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-and-button span {
    font-size: 24px;
    color: #C8C8C8;
}

/* ///////////////////////// */

.ideas {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    margin-bottom: 100px;
}

.ideas-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.ideas-button-container .landing-button{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px ;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 24px;
}

.ideas-button-container .landing-button:hover,
.ideas-button-container .landing-button.active {
  background-color: white;
  color: #181818;
}

.ideas span {
    font-size: 60px;
    color: #D9D9D9;
    display: block;
    margin-bottom: 50px;
}

.ideas u {
    text-decoration-color: #434BF3;
}

.display-container {
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-container {
    margin-right: 50px;
    text-align: left;
}

.description-container h3 {
    color: #C8C8C8;
    font-size: 36px;
}

.description-container span{
    font-size: 26px;
}

.ideas-image-container {
    text-align: right;
}

/* ///////////////////////////// */

.triple-section {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.triple-section-container {
    text-align: left;
    width: 380px;
}

.triple-section-container img{
    margin-bottom: 20px;
    width:100%;
}

.triple-section h3 {
    color: #C8C8C8;
    font-size: 24px;
}

.triple-section span {
    color: #C8C8C8;
    font-size: 20px;
    display: block;
}


/* //////////////////////// */

.about-us {
    text-align: center;
}

.about-us span {
    font-size: 60px;
    color: #D9D9D9;
}

.about-us u {
    text-decoration-color: #434BF3;
}

.carousel {
    display: block;
    max-width: 75%;
    margin: 0 auto;
}

.carousel span{
    font-size: 24px;
}

.carousel-upper {
    border: 1px white solid;
    background-color: transparent;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    width: 100%;
    height: auto;
    margin-top: 50px;

    display: flex;
    align-items: center;
}

.carousel-main {
    border: 1px white solid;
    background-color: transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: none;
    padding: 20px;
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
}


/* //////////////////////// */


.faq {
    padding-left: 100px;
    padding-right: 100px;
    display: block;
    margin-top: 50px;
}

.faq span {
    font-size: 70px;
    color: #D9D9D9;
}

.faq-split {
    display: flex;
}

.faq-item {
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    border-top: 1px solid #ccc;
    margin-bottom: 5px;
    width: 100%;
  }

  .faq-item span {
    font-size: 26px;
    color: #C8C8C8;
  }

  .faq-answer p {
    color: #C8C8C8;
  }
  
  .faq-answer {
    padding: 10px;
    background-color: transparent;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .faq-img-container {
    width: 50%;
    height: 100%;
    text-align: center;
  }

/* ////////////////////////////// */

.footer {
    margin-top: 150px;
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.contacts {
    display: block;
}

.contacts span{
    display: block;
    font-size: 24;
    font-weight: 800;
    color: #C8C8C8;
    margin-bottom: 20px;
}

.contacts p{
    font-size: 24;
    color: #C8C8C8;
}