.main {
    max-height: 100%;
}

.container {
    width: auto;
    height: auto;
    margin-top: 80px;
}

.board-input {
    width: 100%;
    
    border: none;
    outline: none;
    background: transparent;
    display: block;    
}

.header-input {
    
    font-size: 40px;
    margin-bottom: 10px;
    color: #D9D9D9D9;
}

.content-card-input {
    color: #D9D9D9D9;
    background-color: transparent;
    font-size: 14px;
    resize: none; /* Disable user resizing */
    max-width: 100%; /* Ограничиваем максимальную ширину */
    overflow-y: auto; /* Показываем вертикальную полосу прокрутки, если содержимое больше высоты */
    overflow-x: hidden; /* Скрываем горизонтальную полосу прокрутки */
}


.card {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #2E2E2E;
    border: none;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

.list-container {
    display: flex;
    align-items: flex-start;
}

.list {
    border-radius: 6px;
    background: #1E1E1E;
    min-width: 266px;
    max-width: 266px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 0 10px;
}

.board-clickable {
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px;
    min-height: 33px;
    padding-left: 10px;
    vertical-align: auto;
    display: flex; /* Добавлено */
    align-items: center; /* Добавлено */
}

.board-clickable span {
    color: #D9D9D9D9;
}

.card-input {
    border: none;
    background-color: #2E2E2E;
    color: #D9D9D9D9;
    outline: none;
}

.card-input:focus {
    border: 1px solid #434BF3 !important;
}

.card-button {
    border: 1px solid #D9D9D9D9;
    background-color: #1E1E1E;
    color: #D9D9D9D9;
    text-align: left;
    bottom: 0;
}

.card-button span {
    margin-left: 10px;
}

.card-button:hover {
    background-color: #323232;
}

.dropdown-div {
    position: absolute; 
    right: 0;
}

.dropdown-menu-ul {
    background: #181818;
    border-radius: 6px;
    min-width: 266px;
    padding: 10px;
    border-left: 6px solid #434BF3; 
}

.triple-dot-button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.triple-dot-button:hover {
    background-color: #393939;
}

.dropdown-item {
    border-radius: 4px;
    width: 100%;
    color: #D9D9D9;
    font-size: 14px;
    cursor: default;
    display: flex;
    text-align: left;
  }
  

.dropdown-item:hover {
    background-color: #434BF3;

}

.dropdown-item span {
    margin-left: 10px;
}

.drag-handle {
    display: none;
  }
  
  .card:hover .drag-handle {
    display: block;
  }




  .edit-input {
    font-size: 45px;
    color: #525252;
    border: none;
    outline: none;
    background: transparent;
    display: block;
    margin-bottom: 20px;
    margin-top: 100px;
  }


  .split {
    height: 100%;
    display: flex;
    
  }
  
  .left {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding-right: 10px;
  }
  
  .right {
    padding-left: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
  }

  .list-edit-clickable {
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 6px;
    background-color: transparent;
    text-align: left;
    height: 33px;
    border: none;
    color: #AAAAAA;
    width: 100%;
  }

  .list-edit-clickable span{
    margin-left: 5px;
    
  }

  .list-edit-clickable img{
    margin-left: 5px;
  }

  .list-edit-clickable:hover {
    background-color: #232323;
  }

  .new-list-button {
    border: none;
    background-color: transparent;
    color: #797575;
    text-align: left;
    font-size: 14px;
    width: auto;
  }

  .new-list-button img{
    margin-left: 5px;
  }

  .new-list-button span {
    margin-left: 5px;
  }


  .list-edit-textarea {
    padding: 5px;
    border: none;
    border-radius: 6px;
    color: #D9D9D9D9;
    background-color: #232323;
    font-size: 16px;
    resize: none; 
    max-width: 100%; 
    min-height: 86px;
  }

  

/* Стили для перетаскиваемых элементов */
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  /* Стили для невидимого плейсхолдера */
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  /* Анимация перетаскивания */
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  /* Убираем границу у последнего элемента в списке */
  .list .card:last-child {
    border: none;
  }
  
  /* Анимация перемещения при перетаскивании */
  .list.cdk-drop-list-dragging .card:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  