<div class="main">
  <div class="container">
    <input class="board-input header-input" placeholder="Untitled" type="text">
    <hr>
    <div class="list-container">
      <div *ngFor="let item of lists" class="list">
        <div class="board-clickable">
          <span>{{item.name}}</span>
        </div>
        <button class="board-clickable card-button"><img src="assets\icons\board\add.svg">Add card</button>
      </div>

      <form (ngSubmit)="createList(); toggleNewList()">
        <div class="list" *ngIf="newListVisible">
          <input class="board-clickable card-input" placeholder="Enter list title..." [(ngModel)]="newListName" name="newListName">
          <button class="board-clickable card-button" type="submit"><img src="assets\icons\board\list_alt_add.svg">Add list</button>
        </div>
      </form>
      
      <div class="list" *ngIf="!newListVisible">
        <button class="board-clickable card-button" (click)="toggleNewList()"><img src="assets\icons\board\add.svg">Add another list</button>
      </div>
      
    </div>
  </div>
</div>
