
  input {
    font-size: 45px;
    color: #525252;
    border: none;
    outline: none;
    background: transparent;
    display: block;
    margin-bottom: 20px;
    margin-top: 100px;
  }

  input::placeholder {
    color: #525252;
  }

  .split {
    height: 100%;
    display: flex;
    
  }
  
  .left {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .right {
    text-align: right;
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .new-page-clickable {
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #202020;
    color: white;
    text-align: left;
  }

  .button-main {
    padding-left: 10px;
    border:none;
    height: 44px;
    width: 280px;
  }
  
  .button-main:hover {
    background-color: #434BF3;
  }

  .active-item {
    background-color: #434BF3;
  }

  .bottom-button-contaiter {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottom-button {
    text-align: center;
    width: 89px;
    height: 34px;
    border: 1px solid white;
    
  }

  .bottom-button:hover {
    width: 89px;
    height: 34px;
    color: black;
    background-color: white;

  }

  


  
  

  