<app-bigmodalwindow>
  <input placeholder="Untitled" type="text">
    <div class="split">
      <div class="left">
        <div *ngFor="let item of menuItemsLeft">
          <button class="new-page-clickable button-main" (click)="setActiveItem(item)" [ngClass]="{'active-item': item === activeItem}">
            <img src="{{item.icon}}">
            <span style="margin-left: 10px;">{{item.name}}</span>
          </button>
        </div>
      </div>
      <div class="right">
        <div *ngFor="let item of menuItemsRight">
          <button class="new-page-clickable button-main" (click)="setActiveItem(item)" [ngClass]="{'active-item': item === activeItem}">
            <img src="{{item.icon}}">
            <span style="margin-left: 10px;">{{item.name}}</span>
           </button>
        </div>
      </div>
    </div>
    <div class="bottom-button-contaiter">
      <button class="new-page-clickable bottom-button" (click)="createNewPage()">Create</button>
    </div>
</app-bigmodalwindow>



<!-- <div *ngIf="isNewPageVisible()" class="modal" (click)="toggleVisible($event)">
  <div class="modal-content">
    <div class="icon-container">
      <img src="assets/icons/more_horiz.svg" (click)="toggleVisible()">
    </div>
    <input placeholder="Untitled" type="text">
    <div class="split">
      <div class="left">
        <div *ngFor="let item of menuItemsLeft">
          <button class="new-page-clickable button-main" (click)="setActiveItem(item)" [ngClass]="{'active-item': item === activeItem}">
            <img src="{{item.icon}}">
            <span style="margin-left: 10px;">{{item.name}}</span>
          </button>
        </div>
      </div>
      <div class="right">
        <div *ngFor="let item of menuItemsRight">
          <button class="new-page-clickable button-main" (click)="setActiveItem(item)" [ngClass]="{'active-item': item === activeItem}">
            <img src="{{item.icon}}">
            <span style="margin-left: 10px;">{{item.name}}</span>
           </button>
        </div>
      </div>
    </div>
    <div class="bottom-button-contaiter">
      <button class="new-page-clickable bottom-button" (click)="createNewPage()">Create</button>
    </div>
  </div>
</div> -->