<app-notfound *ngIf="isNotFoundRoute()"></app-notfound>
<app-landing *ngIf="isWelcomeRoute()"></app-landing>
<app-registrationpage *ngIf="isRegistrationRoute()"></app-registrationpage>
<ng-container *ngIf="isMainRoute()">
  <app-header (LeftMenuToggled)="menuVisible = $event"></app-header>
  <app-leftmenu [menuVisible]="menuVisible" [ngClass]="{'nav-list-close': menuVisible}"></app-leftmenu>
  <div class="main" [ngClass]="{'main-menu-visible': !menuVisible}" [ngStyle]="fontStyles()">
    <div class="image-wrapper">
      <img [src]="wallpaper" class="wallpaper">
      <div class="dropdown top-right-div">
        <button class="top-right-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Change cover
        </button>
        <div class="dropdown-menu top-right-menu" aria-labelledby="dropdownMenuButton1">
          <small>Space</small>
          <div style="display: flex;">
            <div *ngFor="let image of spaceUrls" class="image-container" (click)="changeWallpaper(image)">
              <img [src]="image" class="cropped-image">
            </div>      
          </div>  
          <small>Movie</small>
          <div style="display: flex;">
            <div *ngFor="let image of movieUrls" class="image-container" (click)="changeWallpaper(image)">
              <img [src]="image" class="cropped-image">
            </div>      
          </div>   
          <small>Nature</small>
          <div style="display: flex;">
            <div *ngFor="let image of natureUrls" class="image-container" (click)="changeWallpaper(image)">
              <img [src]="image" class="cropped-image">
            </div>      
          </div>         
        </div>
      </div>
    </div>
    
    <div class="outlet-container" [ngClass]="{ 'full-width-true': isFullWidth(), 'full-width-false': !isFullWidth() }">
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-newpage></app-newpage>
  <app-searchpage></app-searchpage>
  <app-settingswindow></app-settingswindow>
  <app-usersettings></app-usersettings>
</ng-container>