app-header {
    position: fixed;
    width: 100%;
    top: 0%;
    height: 3rem;
    z-index: 2;
}

.main {
    position: relative;
    width: 100%;
    margin-top: 3rem;
    max-height: calc(100vh - 3rem);
    overflow: auto;
    border: red 2px solid;
}

.main-menu-visible {
    width: calc(100% - 250px);
    margin-left: 250px;
}

app-leftmenu {
    position: fixed;
    left: 0rem;
    top: 3rem;
    width: 250px;
    height: calc(100vh - 3rem);
    background-color: black;
    overflow: auto;
}

.nav-list-close {
    width: 0px
}

.wallpaper {
    width: auto;
}



@media screen and (max-width: 755px) {
    app-leftmenu {
        width: 100%;
    }
  }