
    <app-header (LeftMenuToggled)="menuVisible = $event;"></app-header>
    <app-leftmenu [menuVisible]="menuVisible" [ngClass]="{'nav-list-close': menuVisible}"></app-leftmenu>
    <div class="main" [ngClass]="{'main-menu-visible': !menuVisible}">
        <div class="left-column">
            
        </div>
            <!-- <img src="assets/wallpaper.png" class="wallpaper"> -->
            <div class="image-wrapper">
                <img src="assets/wallpaper.png" class="wallpaper">
            </div>
            <router-outlet></router-outlet>
    </div>

<app-newpage></app-newpage>
<app-searchpage></app-searchpage>
<app-settingswindow></app-settingswindow>
 

<!-- <app-registrationpage></app-registrationpage> -->