:root {
    --full-width-true: 0px 20px 0px 20px;
    --full-width-false: 0px 250px 0px 250px;
}

body
{
    background-color: black;
}

app-header {
    position: fixed;
    width: 100%;
    top: 0%;
    height: 3rem;
}

.main {
    position: relative;
    width: 100%;
    margin-top: 3rem;
    max-height: calc(100vh - 3rem);
    overflow: auto;
    /* border: red 2px solid; */
}

.main-menu-visible {
    width: calc(100% - 250px);
    margin-left: 250px;
}

app-leftmenu {
    position: fixed;
    left: 0rem;
    top: 3rem;
    width: 250px;
    height: calc(100vh - 3rem);
    background-color: #181818;
    ;
    overflow: auto;
}

.nav-list-close {
    width: 0px
}

.image-wrapper {
    width: 100%; /* Ширина контейнера равна ширине экрана */
    overflow: hidden; /* Скрытие избыточной части изображения */
}

.wallpaper {
    height: auto; 
    width: 100%; /* Ширина устанавливается автоматически, чтобы сохранить пропорции */
    display: block;
}

.top-right-div {
    position: absolute;
    top: 20px;
    right: 20px;
}

.top-right-menu {
    background-color: #272727;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    border-left: 6px solid #434BF3;
}

.top-right-menu small {
    color: #B6B6B6;
    font-size: 12px;
    margin-left: 2px;
}

.top-right-button {
    border-radius: 6px;
    color: #D9D9D9D9;
    padding: 10px;
    background-color: #1e1e1e; /* Button background color */
    border: none;
    cursor: pointer;
    display: none;
}

.image-container {
    width: 120px;
    height: 70px;
    overflow: hidden;
    display: inline-block;
    margin-right: 4px; /* Optional: to add some space between images */
}

.cropped-image {
    width: 120px; /* Width of the container */
    height: 70px; /* Height of the container */
    object-fit: cover; /* Ensures the image is resized to cover the container while maintaining aspect ratio */
    object-position: center; /* Centers the image within the container */
    display: block; /* Ensures the img is treated as a block element */
    
}




.image-wrapper:hover .top-right-button {
    display: block;
}

.outlet-container {
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.full-width-true {
    padding: 0px 20px 0px 20px;
}

.full-width-false {
    padding: 0px 250px 0px 250px;
}

