<div *ngIf="isSettingsWindowVisible()" class="settings-window">
    <div class="split">
        <div class="inside-split" (click)="applyFont('font-weight: 400; font-family: Jost;')">
            <div>
              <span>Ag</span>
            </div>
            <div>
              <small>regular</small>
            </div>
          </div>
        <div class="inside-split" style="font-family: DM Serif Display;" (click)="applyFont('font-weight: 400; font-family: DM Serif Display;')">
            <div>
              <span>Ag</span>
            </div>
            <div>
              <small>Serif</small>
            </div>
          </div>
        <div class="inside-split" style="font-weight: 300;" (click)="applyFont('font-weight: 200; font-family: Jost;')">
            <div>
              <span>Ag</span>
            </div>
            <div>
              <small>light</small>
            </div>
          </div>          
    </div>
    <hr>
    <div *ngFor="let checkbox of checkboxes" class="settings-window-clickable">
        {{ checkbox.label }}
        <div style="right: 0; position: absolute;">
          <label class="form-switch">
            <input type="checkbox" [(ngModel)]="checkbox.checked" (change)="onCheckboxChange(checkbox)">
            <i></i>
          </label>
        </div>
    </div>
    <hr>
    <button *ngFor="let item of menuItemsUpper" class="settings-window-clickable button-settings" (click)="callFunction(item)">
        <img src="{{item.icon}}">
        <span style="margin-left: 10px;">{{item.name}}</span>
    </button>
    <hr>
    <div class="last-edited-div">
        <span class="last-edited">Last edited by {{lastEditedBy}}</span>
        <span class="last-edited">{{lastEditedDate.getDate()}}.{{lastEditedDate.getMonth()}} at {{lastEditedDate.getHours()}}:{{lastEditedDate.getMinutes()}}</span>
    </div>
</div>

<div *ngIf="showMessage" class="message">
    {{ message }}
  </div>
