.split {
    height: 100%;
    
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
  }
  
  .left {
    width: calc(100% - 755px);
    left: 0;
    background-color: #181818;
  }
  
  .right {
    width: 755px;
    right: 0;
    background-color: #181818;
  }

  .centered {
    position: absolute;
    width: 388px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered span {
    font-size: 48px;
    margin-bottom: 20px;
    display: block;
    color: #E3E3E3;
  }

  .centered p {
    text-align: left;
    font-size: 16px;
    margin-bottom: 4px;
    color: #D9D9D9;
  }

  .login-clickable {
    width: 100%;
    height: 44px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    margin-bottom: 20px;
    text-align: center;
  }

  .google-button {
    background-color: #181818;
    color: #D9D9D9;
  }

  .google-button:hover {
    background-color: #222222;
  }

  .login-input {
    padding-left: 20px;
    background-color: #181818;
    color: #D9D9D9;
  }

  .login-input:focus {
    outline: none !important;
    padding-left: 20px;
    border: 1px solid #4F57FF;
  }
  
  .login-input-err {
    outline: none !important;
    padding-left: 20px;
    border: 1px solid #C95151;
    background-color: #261F1F;
  }

  .login-input-filled {
    outline: none !important;
    padding-left: 20px;
    border: 1px solid #4F57FF;
    background-color: #222222 !important;
    color: #AFAFAF;
  }

  .black-button {
    background-color: #E3E3E3;
    color: #363636;
    margin-bottom: 4px;
  }

  .black-button:hover {
    background-color: #C0C0C0;
  }

  .extended-page small {
    font-size: 14px;
    color: #8C8C8C;
    text-align: center;
  }


  @media screen and (max-width: 755px) {
    .split.left {
      display: none;
    }

    .right {
      width: 100%;
    }

    .centered {
      width: 100%;

      padding-left: 30px;
      padding-right: 30px;
    }
  }