<div class="main" cdkDropListGroup>
    <div class="container">
      <input class="gallery-input header-input" placeholder="Gallery" type="text" [(ngModel)]="headerInput" (blur)="onHeaderBlur()">
      <hr>
      <div class="card-container">
        <div *ngFor="let card of gallery" class="gallery-item card">
            <img src="{{card.file}}">
          <div class="card-name">
            <input class="gallery-input" value="{{card.name}}">
          </div>
        </div>
        <button class="gallery-item card-button" (click)="createCard()"><img src="assets/icons/gallery/add.svg"><span>New</span></button>
      </div>
    </div>
  </div>