.main {
    max-height: 100%;
}

.container {
    width: auto;
    height: auto;
    margin-top: 80px;
}

.gallery-input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    display: block;
}

.header-input {
    font-size: 40px;
    margin-bottom: 10px;
    color: #525252;
}

.card-container {
    display: flex;
    flex-wrap: wrap; /* Разрешает перенос элементов на следующую строку */
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(25% - 20px); /* Вычисляем ширину кнопки для трех столбцов с учетом отступов */
    min-width: 150px; /* Минимальная ширина кнопки */
    height: 200px;
    margin: 10px;
    border-radius: 6px;
    border: 1px solid #7C7C7C;
    background-color: transparent;
}

.card-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-button span {
    font-size: 14px;
    margin-left: 5px;
    color: #7C7C7C;
}

/* Медиа-запрос для мобильных устройств или экранов с низким разрешением */
@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* Вычисляем ширину кнопки для двух столбцов с учетом отступов */
        height: 150px;
    }
}

/* Медиа-запрос для экранов с очень низким разрешением */
@media screen and (max-width: 480px) {
    .card {
        width: calc(100% - 20px); /* Вычисляем ширину кнопки для одного столбца с учетом отступов */
        height: 150px;
    }
}