<!-- <app-bigmodalwindow *ngIf="isCardListVisible()">
  <input placeholder="Untitled" type="text">
  <div class="split">
    <div class="left">

      <div class="split">
        <div class="left">
          
          <div *ngFor="let item of currentList">
            <button class="list-edit-clickable"><img src={{item.icon}}><span>{{item.name}}</span></button>
          </div>
          <div *ngIf="togglePropertyDropdown" class="sort-list-container">
      
            <div class="dropdown dropdown-div">
              <ul class="dropdown-menu dropdown-menu-ul" aria-labelledby="dropdownMenuButton2">
                <li *ngFor="let option of propertyOptions" class="dropdown-item" (click)="selectProperty(option)">
                  <img src={{option.icon}}>
                  <span>{{option.name}}</span>
                </li>
              </ul>
            </div>
      
          </div>
      
          <button class="new-list-button" (click)="togglePropertyDropdown()" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/icons/edit_card_list/add.svg"><span>Add a property</span>
          </button>
        </div>
        <div class="right">
          <div *ngFor="let item of currentList">
            <span style="color: aqua;">{{item.description}}</span>
          </div>
        </div>
      </div>
      
    </div>
    <hr width=".1vw" height="80vw">
    <div class="right">
      <textarea placeholder="Description" [(ngModel)]="description" (blur)="editCardList()" class="list-edit-textarea">хуй</textarea>
      <span style="color: beige;">{{currentDescription}}</span>
    </div>
  </div>
</app-bigmodalwindow> -->
